<!DOCTYPE html>
<html lang="<%= language %>" dir="<%= languageDir %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="public/style/style.css" />
    <link rel="stylesheet" href="public/style/friend.css" />
    <link rel="stylesheet" href="public/style/loading.css" />
    <link rel="stylesheet" href="public/style/starting.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/i18next@21.6.16/i18next.min.js"></script>
<script src="https://unpkg.com/i18next-http-backend@1.4.2/i18nextHttpBackend.min.js"></script>
<script src="https://unpkg.com/i18next-browser-languagedetector@6.1.4/i18nextBrowserLanguageDetector.min.js"></script>
  </head>
  <div class="custom-context-menu" id="contextMenu">
    <ul>
      <li id="edit-profile">Edit Profile</li>
    </ul>
  </div>  
  <div class="loader-screen">
    <img src="/public/image/logo.png" alt="logo" class="logo" />
    <div class="progress-contain er">
      <div class="progress-bar"></div>
    </div>
    <p class="tip-text"></p>
    <button class="start-btn">Start Game</button>
  </div>   
  <body class="loading-bg">  
    <div class="background-overlay"></div> 
    <div id="overlay" class="hidden"></div>
    <div class="custom-cursor"></div>
    <div class="container display-none">
      <button id="toggle-music">🔊</button>
      <button id="toggle-notif">🔔</button>
      <button id="toggle-friend">👥</button>
      <div class="notification-wrapper">
        <div id="notification-box" class="hidden">
          <h4>Notifications</h4>
          <ul id="notification-list">
            <% for (let i = 0; i < invites.length; i++) { %>
              <li data=<%= invites[i]._id %>>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <span><strong><%= invites[i].sender.username %></strong> sent you an invite</span>
              </div>
              <div style="margin-top: 0.5rem; display: flex; justify-content: flex-end; gap: 0.5rem;">
                <button class="notif-btn accept" data-id="">Accept</button>
                <button class="notif-btn reject" data-id="">Reject</button>
              </div> 
              </li>
          <% } %>
            <% for (let i = 0; i < notif.length; i++) { %>
              <li>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <span><%= notif[i].text %></span>
              </div>
              </li>
          <% } %>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="menu">
          <img src="/public/image/logo.png" alt="" />
          <a href=""><%= t("index.play-rank") %></a>
          <a id="play-with-bot"><%= t("index.play-with-bot") %></a>
          <a href="#add-friend" id="open-modal-btn"><%= t("index.add-friend") %></a>
        </div>
  
        <hr color="#FFDDAB" />
        <div class="profile">
          <img src="<%= user.profile %>" alt="" />
          <h3><%= user.username %></h3>
        </div>
      </div>
    </div>

    <div id="friend-modal" class="modal hidden">
      <form class="modal-content">
        <span class="close">&times;</span>
        <h2>Add a Friend</h2>
        <input
          required
          name="username"
          type="text"
          placeholder="Enter username..."
        />
        <button id="add-friend-btn">Add</button>
      </form>
    </div>
    <div id="friend-sidebar" class="friend-sidebar hidden">
      <div class="sidebar-header">
        <h3><%= t("index.friend-sidebar.header") %></h3>
        <span id="close-sidebar">&times;</span>
      </div>
      <ul id="friend-list">
        <% if(onlineFriends.length){ %>
        <p><%= t("index.friend-sidebar.online-header") %></p>
        <% for (let i = 0; i < onlineFriends.length; i++) { %>
          <li data=<%= onlineFriends[i]._id %>>
            <div>
              <img src=<%= onlineFriends[i].profile %>>
            <span><%= onlineFriends[i].username %></span>
            </div>
            <div>
              <button class="notif-btn reject" data-id=""><%= t("index.friend-sidebar.btn.remove") %></button>
              <button class="notif-btn accept play-btn" data-id=""><%= t("index.friend-sidebar.btn.play") %></button>
            </div>
          </li>
        <% } %><% } %>
        <% if(offlineFriends.length){ %>
        <p><%= t("index.friend-sidebar.offline-header") %></p>
        <% for (let i = 0; i < offlineFriends.length; i++) { %>
          <li data=<%= offlineFriends[i]._id %>>
            <div>
              <img src=<%= offlineFriends[i].profile %>>
            <span><%= offlineFriends[i].username %></span>
            </div>
            <div>
              <button class="notif-btn reject" data-id=""><%= t("index.friend-sidebar.btn.remove") %></button>
            </div>
          </li>
        <% } %><% } %>
      </ul>
    </div>
    <div id="bot-loading" class="bot-loading bot-hidden">
      <div class="slide left-slide"></div>
      <div class="slide right-slide"></div>
      <div class="logo-container">
        <img src="/public/image/logo.png" alt="logo" class="logo-spin" />
      </div>
    </div>
    <input type="hidden" id="userID" value="<%= user._id %>">
    <div id="toast-container"></div>
    <audio id="background-music" autoplay muted loop>
      <source src="/public/music/bg-music.m4a" type="audio/mpeg" />
    </audio>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/src/components/loading.js"></script>
    <script type="module" src="/src/components/invite.js"></script>
    <script type="module" src="/src/components/index.js"></script>
    <script type="module" src="/src/components/friend.js"></script>
    <script type="module" src="/src/components/game.js"></script>
    <script src="/src/components/audio.js"></script>
  </body>
</html>
